body {
    font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("\images\WeatherGifImage"); */
}


.head-container{
    margin: 0px;
    padding: 0px;

    /* position: relative; */
    display: flex;
    border-bottom: 1px solid black;

}

.logo>img{
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 150px;
}

.heading1{
    width: 100%;
}

.h1-Heading>h1{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-weight: 800;
    font-size: 35px;
    font-style: oblique;
    text-align: center;
    /* border: 1px solid black; */
    
    /* background-color: grey; */
    /* color: white; */
    text-shadow: 5px 5px 10px black;
}

.extraLargeFont{
    font-size: 50px;
}

@media only screen and (max-width: 450px){
    .heading1 {
        display: none;
    }
}


@media only screen and (min-width: 451px){
    .heading2 {
        display: none;
    }
}

.flex-container{
    margin: 10% 0%;
    /* margin */
    padding: 0px;
    display: flex;
    justify-content: space-around;

}

.flex-item {
    width: auto;
}

.flex-item>a:link{
    text-transform: uppercase;
    text-decoration: none;
    /* text-decoration: none; */
    color: black;
    cursor: pointer;
}

/* .flex-item>a:hover{
    background-color: blue;
    color: white;
} */

.appImage{
    width: 150px;
    height: 150px;
}

footer>h1{
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
}
