body {
    font-family: 'Roboto', sans-serif;
}

header{
    /* display: flex; */

}

header>img{
    /* border: 1px solid black; */
    width: 150px;

    align-items: center;
}

.heading{
    font-weight: 800;
    font-style: oblique;
    text-align: center;
    /* background-color: grey; */
    /* color: white; */
    text-shadow: 5px 5px 10px black;
    
}

.extraLargeFont{
    font-size: 200%;

}

.flex-item>a:link{
    text-transform: uppercase;
    text-decoration: none;
    /* text-decoration: none; */
    color: black;
}

.flex-item>a:hover{
    background-color: blue;
    color: white;
}
