body {
    font-family: 'Roboto', sans-serif;
}

.head-container{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    /* display: flex; */

}

.logo{
    width: auto;
}
.logo>img{
    border: 1px solid black;
    /* border-radius: 100%; */
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 150px;
 
    /* align-items: center; */
}

.h1-Heading>h1{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-weight: 800;
    font-size: 35px;
    font-style: oblique;
    text-align: center;
    border: 1px solid black;
    
    /* background-color: grey; */
    /* color: white; */
    text-shadow: 5px 5px 10px black;
}

.extraLargeFont{
    font-size: 50px;
}

@media only screen and (max-width: 450px){
    .heading1 {
        display: none;
    }
}


@media only screen and (min-width: 451px){
    .heading2 {
        display: none;
    }
}


.flex-item>a:link{
    text-transform: uppercase;
    text-decoration: none;
    /* text-decoration: none; */
    color: black;
}

.flex-item>a:hover{
    background-color: blue;
    color: white;
}
