body{
  font-family:'Gochi Hand', cursive;
  background-color: black;
} 

.tempForm {
  display: flex;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  margin-top: 20px;
  /* border: 1px solid red; */
  justify-content: space-between;
}

/* input{
  margin: 10px;
} */

section{
  /* padding: 10%; */
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}

img{
  width: 50%;
  height: 50%;
  display: ;
}
/* @media only screen and (max-width: 450px){
  img{
    width: 50%;
    height: 350px;
  }
} */


/* @media only screen and (min-width: 451px){
  img{
    width: 100%;
    height: 100px;
  }
} */
